{% extends 'base.html.twig' %}

{% block body %}
    <section id="breadcrumbs" class="grey_section bg_image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>
                        Page <strong>Associations</strong>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('aved_homepage') }}">Accueil</a>
                        </li>
                        <li class="active">Les associations</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item-content right">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> <strong>Associations</strong>
                                                        internes
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="liste-depliable">
                                                        <li id="bdk" class="depliable">
                                                            <strong>Bruit Du Kouloir (BDK)</strong>
                                                            - Association Étudiante -
                                                            <p>
                                                                Le Bruit du Kouloir (BDK) est une association de musique disposant d'un local de répétition équipé. Les membres peuvent profiter des nombreux instruments de musique et du matériel, afin de partager leur passion pour la musique ou de la découvrir.
                                                            </p>
                                                            <p>
                                                                L'association propose aux débutants d'apprendre la musique sous les conseils des musiciens les plus avertis. Tout le monde est le bienveni pour apprendre, s'exprimer, partager, et bien sûr monter sur scène...
                                                            </p>
                                                            <p>
                                                                Alors n'hésitez pas, venez jammer avec nous et kiffer la vibe !
                                                            </p>
                                                            <p>
                                                                Contact
                                                                <br>
                                                                <a class="email" href="mailto:bruit.du.kouloir@gmail.com" data-mce-href="mailto:bruit.du.kouloir@gmail.com">bruit.du.kouloir@gmail.com</a>
                                                                <br>
                                                                <a title="Facebook BDK" href="http://facebook.com/bruitdukouloir" target="_blank" data-mce-href="http://facebook.com/bruitdukouloir">www.facebook.com/bruitdukouloir</a>
                                                                <br></p>
                                                        </li>
                                                        <li id="bde-imac" class="depliable">
                                                            <strong>BDE IMAC</strong>
                                                            - BDE -
                                                            <p>
                                                                Le BDE IMAC est est l'association des étudiants issus de la formation Ingénieur IMAC. Week-end d'intégration, gala, repas parrain-filleuls, repas interpromo, laser game, soirées "jeudimac", etc. Grâce à nos nombreux partenariats (Scribe, Ecole d'Ostéopathie, Laser Game, Ferme du Buisson, etc.). Nous mettons tout en oeuvre pour rendre la vie étudiante IMAC dynamique.
                                                            </p>
                                                            <p>
                                                                Contact
                                                                <br>
                                                                <a class="email" href="mailto:bdeimac@gmail.com" data-mce-href="mailto:bdeimac@gmail.com">bdeimac@gmail.com</a>
                                                                <br>
                                                                <a class="external" href="http://www.bde.ingenieur-imac.fr/" data-mce-href="http://www.bde.ingenieur-imac.fr/">www.bde.ingenieur-imac.fr</a>
                                                                <br>local 1B100 - bâtiment Copernic</p>
                                                        </li>
                                                        <li id="adac" class="depliable">
                                                            <strong>Association De l'Autre Côté (ADAC)</strong>
                                                            <br>- Association Humanitaire -
                                                            <p>
                                                                L'Association De l'Autre Côté (ADAC) vous offre la possibilité de passer de l'autre côté de la production audiovisuelle à travers des projets et des évènements. Vous avez des envies de cinéma, de réaliser des vidéos, des clips ? Musicien, vous souhaitez former un groupe ou enregistrer un titre ? Vous voulez rencontrer des anciens étudiants de l'Université travaillant dans l'audiovisuel ou simplement partager et approfondir votre expérience dans ce domaine ?
                                                            </p>
                                                            <p>
                                                                Contact
                                                                <br>
                                                                <a class="email" href="mailto:asso.delautrecote@gmail.com" data-mce-href="mailto:asso.delautrecote@gmail.com">asso.delautrecote@gmail.com</a>
                                                                <br>local A165 - bâtiment IFI</p>
                                                        </li>
                                                        <li id="la-fabrique" class="depliable">
                                                            <strong>La Fabrique</strong>
                                                            - Association Étudiante -
                                                            <p>
                                                                Notre association est membre du réseau national "La Fabrique : le réseau des étudiants entreprenants" qui est en train de se construire dans plusieurs universités de France comme à Mulhouse, à Lyon, à Paris13.. et bien sûr ici à Marne-la-Vallée !!!
                                                            </p>
                                                            <p>
                                                                Notre action vise à développer un réseau d'entraide et de services, d'agir ensemble pour améliorer notre quotidien d'étudiant et préparer notre avenir !
                                                            </p>
                                                            <p>
                                                                Contacts
                                                                <br>
                                                                contact@fabrique-étudiante.fr
                                                                <br><a title="Facebook BDK" href="https://www.facebook.com/lafabriqueetu" target="_blank" data-mce-href="https://www.facebook.com/lafabriqueetu">www.facebook.com/lafabriqueetu</a>
                                                                </p>
                                                        </li>
                                                        <li id="wings-of-games" class="depliable">
                                                            <strong>Wings of Games</strong>
                                                            - Association Étudiante -
                                                            <p>
                                                                Bonjour, envie de faire rouler des dés ? De lancer des sorts ? De dévorer un village ou simplement de jouer aux cartes ? La WOG est là !
                                                            </p>
                                                            <p>
                                                                L'association de jeux de l'UPEM ouvre ses portes tous les jeudi à partir de 14h en 1b084bis (bâtiment Copernic). Vous pourrez y pratiquer vos jeux préférés et en découvrir d'autres, notre sélection va de Dungeon &amp; Dragon à Zombicide en passant par Magic, Munchkin, Warhammer ou encore Cluedo.
                                                            </p>
                                                            <p>
                                                                N'hésite pas à nous contacter par mail à l'adresse suivante:
                                                                <a class="email" href="mailto:wingsofgames@outlook.com" data-mce-href="mailto:wingsofgames@outlook.com">wingsofgames@outlook.com</a>
                                                            </p>
                                                            <p>Ou sur notre forum: wog.leforum.eu</p>
                                                            <p>Ou viens nous voir au hangar !</p>

                                                        </li>
                                                        <li id="bde-upem" class="depliable">
                                                            <strong>BDE UPEM</strong>
                                                            - BDE -
                                                            <p>
                                                                Vous avez envie de faire vivre le campus, faire rêver des milliers d'étudiants lors d'évènements exceptionnels ? Le BDE est fait pour vous ! Pour des souvenirs inoubliables : BDE UPEM !
                                                            </p>
                                                            <p>Contact</p>
                                                            <p>
                                                                <a class="email" href="mailto:bde.upem@gmail.com" data-mce-href="mailto:bde.upem@gmail.com">bde.upem@gmail.com</a>
                                                                <br>
                                                                <a title="Facebook BDE UPEM" href="https://www.facebook.com/bde.upem77" target="_blank" data-mce-href="https://www.facebook.com/bde.upem77">www.facebook.com/bde.upem77</a>
                                                                <br>
                                                                Téléphone : 01 71 40 81 76 // 06 23 83 94 77 // 06 67 84 33 10
                                                                <br>Local : Bureau A03 à la Maison de l'Étudiant</p>

                                                        </li>
                                                        <li id="bde-esipe" class="depliable">
                                                            <strong>BDE ESIPE-MLV</strong>
                                                            - BDE -
                                                            <p>
                                                                Nous organisons des soirées et barbecues afin que tout le monde puisse se rencontrer et faire connaissance en dehors du contexte scolaire. De plus, le BDE dispose d'un local au sein du bâtiment Copernic, le FDK, où les étudiants peuvent se divertir durant les pauses journalières (baby-foot, jeux vidéo, vente de confiseries/boissons), tout cela dans la bonne humeur !
                                                            </p>
                                                            <p>
                                                                Contact
                                                                <br>
                                                                <a class="email" href="mailto:membres@adau.org" data-mce-href="mailto:membres@adau.org">membres@adau.org</a>
                                                                <br>
                                                                <a title="Facebook BDE ESIPE" href="https://www.facebook.com/ESIPE-MLV-257047054311456" target="_blank" data-mce-href="https://www.facebook.com/ESIPE-MLV-257047054311456">www.facebook.com/ESIPE-MLV-257047054311456/</a>
                                                                <br>Local FDK - bâtiment Copernic</p>
                                                        </li>
                                                        <li id="803z" class="depliable">
                                                            <strong>803Z</strong>
                                                            - Association de Cinéastes -
                                                            <p>
                                                                803Z, c'est une histoire où se trouve plusieurs histoires, qui feront peut-être l'Histoire. Dedans, il y a des étudiants de l'UPEM, des fous, des rigolos, des talentueux, des débutants, des pros. Leur dénominateur commun, c'est l'envie de faire des vidéos. Et leur numérateur commun, c'est l'envie de faire rire. Si vous êtes quelqu'un, et que vous voulez faire des vidéos, venez écrire votre histoire, ainsi que celle de 803Z.
                                                            </p>
                                                        </li>
                                                        <li id="bde-staps" class="depliable">
                                                            <strong>BDE STAPS</strong>
                                                            - BDE -
                                                            <p>
                                                                Welcome to The STAPS Family !
                                                                <br>
                                                                <br>
                                                                Le BDE STAPS MLV oeuvre tous les jours pour que tes années ici deviennent indéniablement les meilleures de ta vie !
                                                                <br>
                                                                Comment ? En te proposant tout au long de l'année des offres privilèges, des vêtements Made in STAPS qui déchirent sans oublier nos évents tous aussi chanmé les uns que les autres ! Et j'en passe..!
                                                                <br>
                                                                Tu ne nous crois pas ? Laisse nous une chance et plus jamais tu nous quitteras !
                                                                <br>
                                                                <br>
                                                                See U soon !
                                                                <br>
                                                                <br>BDE STAPS MLV
                                                            </p>
                                                        </li>
                                                        <li id="virtual-association" class="depliable">
                                                            <strong>Virtual Association</strong>
                                                            - Association Étudiante -
                                                            <p>
                                                                L'innovation et les nouvelles technologies vous intéressent ?
                                                            </p>
                                                            <p>
                                                                La Virtual Association assure la promotion de la réalité virtuelle, de la réalité augmentée et de toute technologie innovante auprès des étudiants. Nous organisons des ateliers/colloques menés pas des professionnels à destination des étudiants, mais aussi des démonstrations et tests de projets étudiants grâce au matériel de l'association. Ne ratez surtout pas notre compétition étudiante !
                                                                <br>
                                                                Vous êtes le bienvenu dans l'association, quelles que soient vos compétences et votre formation, n'hésitez pas à nous contacter.
                                                                <br><br>
                                                                Contacts
                                                                <br>
                                                                <a class="external" href="virtualassociation.alwaysdata.net">www.virtualassociation.alwaysdata.net
                                                                <br>
                                                                <a class="external" href="http://www.facebook.com/virtualassociation" data-mce-href="http://www.facebook.com/virtualassociation">www.facebook.com/virtualassociation</a>
                                                                <br>
                                                                <a class="email" href="mailto:virtualassociation@alwaysdata.net" data-mce-href="mailto:virtualassociation@alwaysdata.net">virtualassociation@alwaysdata.net</a>
                                                            </p>
                                                        </li>
                                                        <li id="recc" class="depliable">
                                                            <strong>Radio RECC</strong>
                                                            - Web Radio -
                                                            <p>
                                                                Radio RECC est la Webradio de l'Université, créée et gérée par des étudiants depuis 10 ans. Actualités, sports, musique, culture, vie étudiante, etc.
                                                            </p>
                                                            <p>
                                                                Radio RECC recrute, alors contactez-nous :
                                                                <a class="email" href="mailto:recrutement@radio-recc.fr" data-mce-href="mailto:recrutement@radio-recc.fr">recrutement@radio-recc.fr</a>
                                                            </p>
                                                            <p>
                                                                Contact
                                                                <br>
                                                                <a class="email" href="mailto:communication@radio-recc.fr" data-mce-href="mailto:communication@radio-recc.fr">communication@radio-recc.fr</a>
                                                                <br>
                                                                <a class="external" href="http://www.radio-recc.fr/" data-mce-href="http://www.radio-recc.fr/">www.radio-recc.fr</a>
                                                                <br>Local au RDC du bâtiment Copernic
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item-media">
                                    <div style="padding:35px 35px 0 0">
                                        <img src="{{ asset('example/team/07.png') }}" alt=""></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item-media">
                                    <div style="padding:35px 0 0 35px">
                                        <img src="{{ asset('example/team/06.png') }}" alt=""></br></br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item-content right">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                                                        <strong>Associations</strong>
                                                        internes
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="liste-depliable">
                                                        <li id="esieespace" class="depliable">
                                                            <strong>ESIEESPACE</strong>
                                                            - Association Étudiante -
                                                            <p>
                                                                ESIEESPACE est une association d'électronique, de robotique et d'aérospatiale. Vous pourrez participer au Sumobot Challenge de ESIEE Paris & à la Coupe de France de Robotique. Et pour les passionnés d'aérospatiale, nous participons aussi au projet Perseus proposé par le CNES.
                                                            </p>
                                                        </li>
                                                        <li id="fonzy" class="depliable">
                                                            <strong>FONZY</strong>
                                                            - Club Soirées -
                                                            <p>
                                                                Le Club Soirée de ESIEE Paris organise les soirées à l'ESIEE depuis sa fondation en mars 2006, que ce soit les soirées K-Fet ou les soirées externes accueillant plusieurs centaines de personnes.
                                                                <br>
                                                                Il est entièrement géré par des étudiants d'ESIEE Paris. Il est financé par le BDE d'ESIEE Paris, le BDE Ferus.
                                                                <br>
                                                            </p>
                                                        </li>
                                                        <li id="bds-esiee" class="depliable">
                                                            <strong>BDS ESIEE Paris</strong>
                                                            - BDS -
                                                            <p>
                                                                Le BDS&nbsp;ESIEE Paris est un&nbsp;relais&nbsp;entre les étudiants de l’ESIEE Paris et le service&nbsp;des sports, il prend en charge plus d’une trentaine de sports en organisant tout ce qui concerne la vie sportive à l’ESIEE.
                                                            </p>
                                                            <p>
                                                                Il organise et communique sur les&nbsp;événements&nbsp;auxquels l’ESIEE participe.
                                                                <br>
                                                                De même, le BDS communique sur les réseaux sociaux les résultats de ses équipes au quotidien.
                                                            </p>
                                                            <p>
                                                                Enfin, le BDS met à disposition du matériel sportif à tous ses cotisants en échange de carte étudiante (raquettes de tennis de table, ballons de Futsal/Hand/Volley/Basket, etc…).
                                                            </p>
                                                        </li>
                                                        <li id="junior-esiee" class="depliable">
                                                            <strong>Junior ESIEE</strong>
                                                            - Junior Entreprise -
                                                            <p>
                                                                Vous cherchez à découvrir le monde de l’entreprise tout en vous investissant dans l’associatif ? La Junior Entreprise ESIEE Paris est faite pour vous ! L’association vous propose de réaliser des études (sites internet, projets électroniques, études de marché, business plans…) au service d’entreprises clientes en échange d’une rémunération plus qu’attractive. Vous pourrez alors mettre à profit les connaissances acquises au cours de votre cursus à ESIEE Paris au travers de vrais projets d’entreprises. Bon pour vous et votre CV, n'hésitez plus, rejoignez-nous !
                                                            </p>
                                                        </li>
                                                        <li id="ferus" class="depliable">
                                                            <strong>ZEPHYR</strong>
                                                            - BDE -
                                                            <p>
                                                                Le BDE ESIEE Paris est élu tous les ans par les élèves de l’école et est le principal organe de représentation des étudiants dans l’école.
                                                            </p>
                                                            <p>Sa mission est triple :</p>
                                                            <ul>
                                                                <li>
                                                                    &nbsp;Porter l’associatif en renforçant et en gérant la vingtaine de clubs et associations de l’école.
                                                                </li>
                                                                <li>
                                                                    &nbsp;Faire vivre l’école en organisant des activités extra-scolaires (soirées, WEI, sorties culturelles et sportives).
                                                                </li>
                                                                <li>
                                                                    &nbsp;Être le principal interlocuteur entre l’administration et les élèves.
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item-content right">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                                                        <strong>Associations</strong>
                                                        internes
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        En construction.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item-media">
                                    <div style="padding:35px 35px 0 0">
                                        <img src="{{ asset('example/team/09.png') }}" alt=""></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item-media">
                                    <div style="padding:1px 0 0 1px">
                                        <img src="{{ asset('example/team/10.png') }}" alt=""></br></br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item-content right">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed">
                                                        <strong>Associations</strong>
                                                        internes
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        En construction.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item-content right">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed">
                                                        <strong>Associations</strong>
                                                        internes
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        En construction.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item-media">
                                    <div style="padding:35px 35px 0 0">
                                        <img src="{{ asset('example/team/11.png') }}" alt=""></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item-media">
                                    <div style="padding:10px 0 0 55px">
                                        <img src="{{ asset('example/team/12.png') }}" alt=""></br></br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item-content right">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed">
                                                        <strong>Associations</strong>
                                                        internes
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse7" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        En construction.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}