{% extends 'base.html.twig' %}

{% block body %}
<section id="breadcrumbs" class="grey_section bg_image">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>
                    Page <strong>Ecoles</strong>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('aved_homepage') }}">Accueil</a>
                    </li>
                    <li class="active">Les écoles</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="side-item">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="item-content right">
                                <h2> <strong>Université</strong>
                                    Paris Est MLV
                                </h2>
                                <p>
                                    L'Université Paris-Est Marne-la-Vallée est un établissement pluridisciplinaire, avec 12 composantes, dont un IUT et 17 unités de recherche.<br><br><br><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item-media">
                                <div style="padding:35px 35px 0 0">
                                    <img src="{{ asset('example/team/07.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="side-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="item-media">
                                <div style="padding:35px 0 0 35px">
                                    <img src="{{ asset('example/team/06.png') }}" alt=""></div>
                                </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item-content right">
                                <h2>
                                    <strong>ESIEE</strong>
                                    Paris
                                </h2>
                                <p>
                                    École d'ingénieurs généraliste dans les domaines des nouvelles technologies, ESIEE Paris propose une formation en 5 ou 3 ans habilitée par la CTI.<br><br><br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="side-item">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="item-content right">
                                <h2>
                                    <strong>Ecole</strong>
                                    Nationale des Ponts et chaussées
                                </h2>
                                <p>
                                    L'École nationale des ponts et chaussées, créée en 1747 est une grande école française. Aujourd'hui située au cœur de la ville nouvelle de Marne-la-Vallée sur le campus de la Cité Descartes, elle a le statut d'établissement public d'enseignement et de recherche.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item-media">
                                <div style="padding:35px 35px 0 0">
                                    <img src="{{ asset('example/team/09.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="side-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="item-media">
                                <div style="padding:35px 0 0 35px">
                                    <img src="{{ asset('example/team/10.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item-content right">
                                <h2>
                                    <strong>ESO</strong>
                                    Suposteo
                                </h2>
                                <p>
                                    École d'ostéopathie privée fondée en 1990. Cursus de 6 ans (niveau Master) directement après le Baccalauréat. Formation selon les recommandations de l'O.M.S. (Organisation Mondiale de la Santé).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="side-item">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="item-content right">
                                <h2>
                                    <strong>Ecole</strong>
                                    d'architecture des villes & des territoires
                                </h2>
                                <p>
                                    L’École nationale supérieure d’architecture de la ville et des territoires à Marne-la-Vallée est située à Champs-sur-Marne, sur le campus Descartes. Cette école fait partie des 20 écoles nationales supérieures et est notamment connue pour le niveau de sa licence qui jouit d'une certaine notoriété.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item-media">
                                <div style="padding:35px 35px 0 0">
                                    <img src="{{ asset('example/team/11.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}